<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR" xmlns:sec="">
<head>
	<meta charset="UTF-8" />
	<title>Inserir Aluno</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<style>body, html {color: white;height: 100%;background-repeat: no-repeat;background-image: linear-gradient(to bottom right, #67739c, #adadad);}hr{margin: 35px 50px 35px 50px;}</style>
</head>
<body>
	<div th:replace="fragmentos/fragmentos::header"></div>

	<div class="container">
		<h2>Inserir novo Aluno</h2>
		<form class="form-vertical" action="/alunos/inserir"
			method="POST" th:object="${aluno}">
			<div class="row">
				<div class="form-group col-md-6">
					<label for="txt-nome">Nome do Aluno</label>
					<input type="text" class="form-control" id="txt-nome" th:field="*{nome}" required/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label for="txt-idade">Idade do Aluno</label>
					<input type="number" min="10" max="120" class="form-control" id="txt-idade" th:field="*{idade}" required/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label for="slt-instituicao">Instituição do Aluno</label>
					<select class="form-control" th:field="*{instituicao.id}" id="slt-instituicao" required>
						<option th:each="instituicao: ${instituicoes}" 
						th:value="${instituicao.id}" th:text="${instituicao.nome}"></option>
					</select>
				</div>
			</div>
			<input type="submit" class="btn btn-default" value="Inserir" />
		</form>
	</div><hr/>
	<div th:replace="fragmentos/fragmentos::footer"></div>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>